hr {
	margin: 0;
}

#field {
	width: 654px;
	height: 658px;
	border: 2px solid black;
	background: #eee;
	margin-left: 5%;
	position: relative;
	float: left;
}

.box1 {
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 100px;
	background: #bbb;
	border:2px solid black;
}

#color1 {
	height: 20px;
	background: red;
	border-bottom: 2px solid black;
}

#container-right {
	min-width: 300px;
	min-height: 400px;
	margin-left: 30px;
	float: left;
}

#usertable {
	position: relative;
	width: 300px;
	min-height: 100px;
	border: 2px solid black;
}

/* ---------------- Modal block ---------------------*/
#modal {
    position: fixed;
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}

#modalContent {
    background-color: #fcf8e3;
    margin: 7% auto;
    border: 1px solid sandybrown;
	width: 80%;
	height: 80%;
}

#close{
    color: #aaa;
    float: right;
    font-size: 24pt;
    font-weight: bold;
    cursor: pointer;
}

#gui_container{
	min-width: 5px;
	min-height: 5px;
	top: 5px;
    left: 500px;
	background-color: white;
	position: absolute;
}
/* ---------------- End of modal block ---------------------*/